body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #1A2617;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: rgba(100, 100, 100, 0.1);
    padding: 20px;
    width: 960px;
}

img {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

/*home*/
.main {
    text-align: center;
    min-height: 600px;
}

.logo {
    border-radius: 25px;
    border: none;
    width: 200px;
    margin-bottom: 10px;
}

.list {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

.list ul {
    display: flex;
}

.list li {
    line-height: 30px;
}

.footer {
    text-align: center;
    font-size: 12px;
}

/*detail*/

#title-block-header h1 {
    text-align: center;
}

.detail h1 {
    font-size: 16px;
}

.detail h2 {
    font-size: 14px;
}

.detail p {
    color: #444;
    font-size: 12px;
}

#TOC {
    padding: 30px;
}

#TOC > ul {
    display: flex;
    flex-wrap: wrap;
}

#TOC > ul > li > ul {
    list-style-position: inside;
}

#TOC > ul > li {
    width: 33.3%;
    margin-top: 20px;
}
