body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #1A2617;
    font-size: 14px;
    letter-spacing: 0;
    overflow-x: hidden;
}

img {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    margin-top: 5px;
}

ul {
    list-style: none;
}

ul li p {
    display: inline;
}

.header-nav {
    height: 41px;
    background: #0b4e22;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.switch-lang {
    color: white;
}

.header-content {
    height: 352px;
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*home*/
.main {
    padding: 20px;
    text-align: center;
    min-height: 600px;
}

.logo {
    border-radius: 25px;
    border: none;
    width: 200px;
    margin-bottom: 10px;
}

.list {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

.list ul {
    display: flex;
}

.list li {
    line-height: 30px;
}

.footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 24px;
}

/*detail*/

#title-block-header h1 {
    text-align: center;
}

.detail {
    padding: 20px;
    width: 960px;
    margin: 0 auto;
}

.detail h1 {
    font-size: 16px;
}

.detail h2 {
    font-size: 14px;
}

.detail p, .detail li {
    color: #444;
    font-size: 12px;
}

.detail ul{
    list-style: inside;
    text-indent: 1rem;
}

#TOC {
    width: 960px;
    margin: 0 auto;
    padding: 30px;
}

#TOC > ul {
    display: flex;
    flex-wrap: wrap;
}

#TOC > ul > li > ul {
    list-style-position: inside;
}

#TOC > ul > li {
    width: 33.3%;
    margin-top: 20px;
}
